.popup {
    width: 288px;
    height: auto;
    padding: 16px;
    border: 1px solid #ccc;
    background-color: #fff;
    & .paragraph {
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
    }
    & .button {
        margin-top: 10px;
    }
}
.popup-footer {
    padding: 20px;
    box-shadow: 0 -2px 4px rgb(0 0 0 / 8%), 0 -4px 12px rgb(0 0 0 / 8%);
    & .price {
        display: flex;
        align-items: center;
        & span {
            color: #777;
            font-size: 1.4rem;
            text-decoration: line-through;
        }
    }
    & strong {
        margin-right: 10px;
    }
}
.cart {
    padding: 0;
}
